extends ../_template

block variables
    - var title = 'Album'


block content
 include ../commons/index/index_content
    .wrapper.album-wrap
        include ../commons/edit_header_album
        .header(style="background:url('/photo/"+ albumCover +"');")
            .header__top
                .content
                    .header-container
                        .user-block
                            div(class='user__avatar small')
                                div(class='user__avatar-img small' style="background-image:url('/assets/img/photo.jpg');")
                                    img.avatar-pic(src=userPhoto alt="")
                            .user__inf
                              .user__name #{userName}
                        .album
                            .album__name #{albumName}
                            .album__discription #{albumDesc}
                        .edit-album.album
                            .edit-wrap.home
                                .svg-wrap
                                    svg(role="img" class="svg")
                                        use(xlink:href="/assets/img/sprite.svg#home")
                                a(href='/home' class='hover-link')
                                    .edit-hover__text На главную
                            .edit-wrap.editprof
                                .svg-wrap
                                    svg(role="img" class="svg")
                                        use( xlink:href="/assets/img/sprite.svg#edit")
                                a(href='#' class='hover-link' id='toggle')
                                    .edit-hover__text Редактировать
            .header__down
                .content-down.all
                        .all
                            .all__icons
                                .svg-wrap
                                    svg(role="img" class="svg")
                                        use( xlink:href="/assets/img/sprite.svg#cam")
                            .all__photo
                                .photo__quant #{albumCounter}
                                .all__photo-text Фотографий
                            .all__icons
                                .svg-wrap
                                    svg(role="img" class="svg")
                                        use( xlink:href="/assets/img/sprite.svg#like")
                            .all__likes
                                .likes__quant 1
                                .all__likes-text Лайков
                            .all__icons
                                .svg-wrap
                                    svg(role="img" class="svg")
                                        use( xlink:href="/assets/img/sprite.svg#comments")
                            .all__comments
                                .comments__quant 1
                                .all__comments-text Комментариев
            .header-fixed
                .content
                  .fixed-wrap
                    .user-block
                        div(class='user__avatar small')
                            div(class='user__avatar-img small' style="background-image:url('/assets/img/photo.jpg');")
                                img.avatar-pic(src="/assets/img/photo.jpg" alt="")
                        .user__inf
                           .user__name Фамилия Имя
                    .album
                        .album__name Лесные прогулки
                    .edit.album
                        .edit-wrap.home
                            .svg-wrap
                                svg(role="img" class="svg")
                                    use(xlink:href="/assets/img/sprite.svg#home")
                            a(href='photo_main.html' class='hover-link')
                                    .edit-hover__text На главную
        .main-content(data-albumid = albumId)
            section.album-photo
                .content
                    .noalbum
                        .noalbum-text Здесь еще нет ни одно фотографии
                    .add
                        .add__btn
                            .svg-wrap
                                svg(role="img" class="svg")
                                    use( xlink:href="/assets/img/sprite.svg#add")
                            a(href='#' class='hover-link')
                                .edit-hover__text Добавить
                    .album-photo__container
                        //include ../commons/photo_list
        include  ../modal-windows/add-photo-empty
        include ../commons/footer
